<!DOCTYPE html>
<html lang="en">
  <%- include('../../views/layout/head') %>
  <body>
    <%- include('../../views/layout/header') %>
    <main>
      <h4>Details</h4>
      <ul id="book-details">
            <img src="<%= book.image_url %>">
            <p>Title: <%= book.title %></p>
            <p>Author: <%= book.author %></p>
            <p>Description: <%= book.description %></p>
            <p>ISBN: <%= book.isbn %></p>
            <p>Bookshelf: <%= book.bookshelf %></p>
          </li>
      </ul>
    </main>
    <%- include('../../views/layout/footer') %>
  </body>
</html>
